 .page{
   background:#48B8DF33;
   .container{
     padding:45px 45px;
     display: flex;
     column-gap:48px;
     justify-content: center;
   }
   &__title{
     @include txt;
     @include font(normal,600,50px,64px,#111111);
     width: 554px;
     margin-bottom: 5px;
   }
   &__text{
     @include txt;
     @include font(normal,400,18px,23px,#111111);
   }
   &__img{
     width: 560px;
   }
 }
 @media (max-width: 1200px) {
    .page{
       &__title{
         width: 346px;
       }
      &__img{
        width: 460px;
        height: 294px;
      }
    }
 }
 @media (max-width:960px) {
   .page{
     .container{
       flex-direction: column;
     }
     &__img{
       width: 100%;
     }
     &__title{
       width: 572px;
     }
     &__text{
       width: 415px;
       margin-bottom: 29px;
     }
   }
 }
 @media (max-width:640px) {
   .page{
     .container{
       flex-direction: column;

     }
     &__img{
       height: 200px;
     }
     &__title{
       width:365px;
       @include font(normal,600,45px,58px,#111111);
     }
     &__text{
       width:397px;
       margin-bottom:19px;
     }
   }
 }
 @media (max-width:480px) {
   .page{
     .container{
       flex-direction: column;
     }
     &__img{
        width:200px;
     }
     &__title{
       width:293px;
       @include font(normal,600,35px,45px,#111111);
     }
     &__text{
       width:250px;
       margin-bottom:11px;
     }
   }
 }
